<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="header-content">
        <img src="assets/LogoCentro.jpg" alt="Logo" class="logo">
        <span>CIEMI UNIANDES</span>
      </div>
    </ion-title>

    <!-- Botón Logout al otro lado -->
    <button class="logout-button" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="ion-padding">
  <div class="welcome-section">
    <h1>Bienvenido al Sistema</h1>
    <p>Gestión de Emprendedores</p>
  </div>

  <div class="button-container">
    <!-- Botón 1 -->
    <ion-card class="menu-card" button routerLink="/historico">
      <ion-card-header>
        <ion-icon name="time-outline" class="card-icon"></ion-icon>
        <ion-card-title>Histórico Emprendedores</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Consulta el registro histórico de emprendedores
      </ion-card-content>
    </ion-card>

    <!-- Botón 2 -->
    <ion-card class="menu-card" button routerLink="/registro-emp">
      <ion-card-header>
        <ion-icon name="document-text-outline" class="card-icon"></ion-icon>
        <ion-card-title>Nuevo Registro</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Registra nuevos emprendedores en el sistema
      </ion-card-content>
    </ion-card>

    <!-- Botón 3 -->
    <ion-card class="menu-card" button routerLink="/reporteria">
      <ion-card-header>
        <ion-icon name="add-circle-outline" class="card-icon"></ion-icon>
        <ion-card-title>Reportería</ion-card-title>
      </ion-card-header>
      <ion-card-content> Genera reportes y estadísticas </ion-card-content>
    </ion-card>

    <!-- Botón de Seguridad -->
    <ion-card
      class="menu-card security-card"
      button
      routerLink="/seguridad-real"
    >
      <ion-card-header>
        <ion-icon name="shield-outline" class="card-icon"></ion-icon>
        <ion-card-title>Demostración de Seguridad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Pruebas de seguridad informática en tiempo real
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
